.container{
  display: flex;
  margin: 8px 0;
  justify-content: space-between;
  height: 38px;
  align-items: center;
  .handleName{
    span{
      margin-left: 5px;
      color: #344152;
      font-size: 18px;
      font-weight: bold;
      line-height: 18px;
    }
    display: flex;
    line-height: 18px;
    pointer-events: none;
  }
  .defaultBtnBox{
    display: inline-flex;
    .independent{
      margin: 0 6px;
    }
  }
  .functionHandleBox{

  }
}