@import url("./btn");
*{
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei, serif;
}
ul,li{
  list-style: none;
}
table, label span{
  color: #2C333D;
}
.card{
  margin: 12px;
  padding: 12px 18px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 9px 12px 0 rgba(219, 221, 226, 0.3);
}
input{
  border: 1px solid #CFD1DC
}

.third{
  width: 33.333333%;
}
.quarter{
  width: 25%;
}
.quarter_i{
  width: 25%!important;
}
.quintile{
  width: 20%;
}
.sixth{
  width: 16.66666667%;
}
.min_form_input{
  min-width: 300px;
}
.whole{
  width: 100%;
}
.i_b{
  display: inline-block;
}
.warn_color{
  color: #ff4d4f;
}
.handleBtnBoX{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  button{
    margin: 4px;
  }
}
.verticalLine{
  width: 1px;
  height: 100%;
  background: #CFD1DC;
}
.transverseLine{
  width: 20px;
  height: 1px;
  background: #CFD1DC;
  border-radius: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}

