*{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
ul,li{
  list-style: none;
}
.card{
  margin: 12px;
  padding: 16px 18px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}

.third{
  width: 33.333333%;
}
.quarter{
  width: 25%;
}
.quarter_i{
  width: 25%!important;
}
.quintile{
  width: 20%;
}
.sixth{
  width: 16.66666667%;
}
.min_form_input{
  min-width: 300px;
}
.whole{
  width: 100%;
}
.i_b{
  display: inline-block;
}
.warn_color{
  color: #ff4d4f;
}
.handleBtnBoX{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  button{
    margin: 4px;
  }
}
.verticalLine{
  width: 1px;
  height: 100%;
  background-color: #898989;
}